In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('C:/Users/JenMing/Desktop/MBTI/MBTI_test.csv')
df.head()

   type                                              posts
0  INFJ  What has been the most life-changing experienc...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  Of course, to which I say I know; that's my bl...
3  INTJ  'Dear certain personality,   I enjoyed our con...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [17]:
# 将 "post" 列的对话拆分成列表
df_new = {'type': [], 'posts': []}
for n in range(len(df)):
    list_posts = df['posts'][n].split('|||')
    for m in range(len(list_posts)):
        df_new['type'].append(df['type'][n])
        df_new['posts'].append(list_posts[m])

df_new = pd.DataFrame(df_new)
# 输出结果
df_new.head()

   type                                              posts
0  INFJ  What has been the most life-changing experienc...
1  INFJ               May the PerC Experience immerse you.
2  INFJ  Hello certain personality7. Sorry to hear of y...
3  INFJ                                 Welcome and stuff.
4  INFJ  Prozac, wellbrutin, at least thirty minutes of...

In [19]:
df_new.shape

(392847, 2)

In [20]:
df_new.to_csv(f"C:/Users/JenMing/Desktop/MBTI/one_type_one_sentence/mbti_to_DF_otos.csv", index=False)